* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: auto;
}

button, input[type=submit], input[type=file]{
    background-color: peachpuff;
}

container{
    display: block;
    position: fixed;
    right: 0px;
    top: 0px;
    height: auto;
    background-color: coral;
    text-align: justify;
    padding: 30px;
    border: firebrick 2px dot-dot-dash;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;

    height: 100vh;
    max-height: 100vh;
}

td {
    overflow: auto;
    width: 100%;
    vertical-align: top;
}

h1 {
    text-align: center;
}

input {
    text-align: center;
}

/*noinspection CssUnusedSymbol*/
.keyframe {
    text-align: center;
    width: fit-content;
}

/*noinspection CssUnusedSymbol*/
.slider {
    width: 75%;
}

#animator {
    height: 5vh;
    display: inline-flex;
}

#filter {
    width: 48%;
    margin-left: 25%;
    margin-bottom: 10%;
    position: absolute;
    background: peachpuff;
    bottom: 0;
}

#variables {
    height: 10vh;
    text-align: center;
}